* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  color: #29292e;
}

body,
input,
button,
textarea {
  font: 400 1rem "Roboto", sans-serif;
}

body::-webkit-scrollbar{
  width: 5px;
  height : 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #835afd ;
  border-radius: 8px;

}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
   }

 